<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<!-- <p>Name: <%=restaurant.name%></p> -->
<a href="/restaurant/<%=restaurant.id%>"><%=restaurant.name%></a>


<br/>
<%end%>



<br>

<p class="btn--wrapper">
<a class="btn btn--action" href="/restaurants/new">Add new restaurant</a>
<footer>
<p class="btn--wrapper">
<a class="btn btn--action" href="/">Home</a>
</footer>
