<form class="" action="/restaurants" method="post">
  <label for="name">Restaurant Name</label>
  <input type="text" name="name" id="name">
  <br>
  <input type="submit" value="Add Restaurant">

</form>


<p class="btn--wrapper">
<a class="btn btn--action" href="/">Home</a>
