<form class="" action="/restaurant/new" method="post">
  <label for="name">Restaurant Name</label>
  <input type="text" name="name" id="name">
  <br>
  <input type="submit" value="Add Restaurant">

</form>
