<form class="" action="/burger-tracker" method="post">
  <label for="name">Burger Name</label>
  <input type="text" name="name" id="name">
  <br>
  <label for="restaurant">Restaurant</label>
  <select name="restaurant" id="restaurant">
    <% @restaurant.each do |restaurant| %>
      <option value=<%= restaurant.id %>><%=restaurant.name%></option>
    <% end %>
  </select>
  <br>
  <input type="submit" value="Add Burger">

</form>
